// #region CHAT

$padding: 15px;
$small_padding: 7.5px;
$half_padding: 5px;
$border_radius: 5px;

$cor_msg_remetente: #bbfdc4;
$cor_msg_destinatario: #ddf0fc;

$dark_font: #455a64;
$light_font: #818080;

// #endregion
